@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
 
/*  font-family: "Bebas Neue", cursuve;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


body{
    font-family: "Poppins", sans-serif;
    background-color: #1f1f1f;
    height: 100%;
    margin: 0;


}

.container {
    max-width: 100%; 
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
  
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover,
.header .overlay a:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    color: #eceff1;
}

.header .nav-links a:hover {
    color: #ffbc0e;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.header .btn button,
.header .menu button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .nav-links, .btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}


.header a {
    text-decoration: none;
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #FFA500;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
    color: #ffbc0e;
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height: 450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} 
 

.header-content {
    position: relative;
    min-height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.background-img {
    position: absolute;
    max-width: 100%; 
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.header-txt{
    text-align: center;
    margin-bottom: 45px;

}
.header-dir {
    display: flex;
    justify-content: center;
    gap: 1600px;
    margin-bottom: 20px; 
}

.dir {
    text-align: center;
}
.header-txt h1,span,h3{
    font-size:110px ;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    color: #FFA500;
    margin-bottom: 15px;
}
.header-txt span{
    font-size: 25px;
}

.header-txt p{
    color: #AFAFAF;
    padding: 0 250px;
    margin: 25px 0;
}

.btn-1{
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: "Bebas Neue", cursuve;
    margin: 25px 0;
    border: 0;
}

.btn-1:hover{
    background-color: #cc8500;
}

.header-dir {
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin-bottom: 20px; 
}

.dir h3{
    font-size: 18px;
}
.dir p{
    font-size: 22px;
    color: orange;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursuve;
}
.welcome {
    display: flex;
    justify-content: center;  
    align-items: center;  
    text-align: center;  
    height: auto; 
    position: relative;
}

.weolcome-2 {
    width: 50%;
    padding: 50px 100px; 
    background-color: #19191919;
}


 h2{
    font-size: 90px;
    line-height: 100px;
    color: #FFA500;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursuve;
    margin-bottom: 20px;
 }
p{
    font-size: 16px;
    color: #AFAFAF;
    margin:25px 0 ;

}

.b1{
    color: #FFA500;
}

.services-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    border: 1px solid #FFA500 ;
    width: 80px ;
}

.services-txt p {
    padding: 50px 150px;
}
.services-group {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #070707;
    padding: 20px;
}


.services-1 {
    position: relative;
    padding: 90px 100px; 
    margin: 0;
    border-radius: 15px;
    left: 0;
    right: 0;
    flex-grow: 1;
    max-width: calc(50% - 10px); 
}
.services-1 h3 {
    font-size: 25px;
    color: #FFA500;
}

.services-1 a {
    color: #FFA500;
    font-size: 16px;
}

.map {
    width: 800px;
}

.map iframe {
    width: 100%; 
    height: 100%; 
    border: 0;
}



.container-welcome{
    display: flex;
}

.footer {
    position: relative;
    width: 100%;
    background:#FFA500;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: #070707;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu1 {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: #070707;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: #070707;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .card-container {
    display: flex;
    gap: 80px; 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    margin-bottom: 90px; 
}
.card{
    display: flex;
    position: relative;
    width: 300px;
    height: 350px;
    align-items: center;
    justify-content: center;
   
    
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY('180deg');
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;

}

.card .front h4{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #FFA500;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3,35, 54);
    padding: 15px;
    color: #FFA500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000 ;
}

.card .back .link{
    border-top: solid 1px #FFFFFF;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color:#FFA500

}

.card .back h4{
   font-size: 30px;
   margin-top: 20px;
   letter-spacing: 2px; 
}

.card .back p{
 letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}